<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring-mobile.dreamguystech.com/bootstrap4/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2020 09:39:55 GMT -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
    <title>{{ title }}</title>

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.html">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="/stylesheets/feather.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/plugins/swiper/css/swiper.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/qrcode-reader.min.css">
    <link rel="manifest" href="manifest.json">
    <script type="text/javascript" src="/javascripts/instascan.min.js"></script>
</head>

