<!-- Sidebar -->
<div class="side-menu" id="sidebar-menu">
    <div class="close-btn"><i class="feather-x"></i></div>
    <ul>
        <li>
            <a class="" href="index.html">
                <i class="feather-home"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a class="" href="appointments.html">
                <i class="feather-align-right"></i>
                Appointments
            </a>
        </li>
        <li>
            <a class="" href="bookings.html">
                <i class="feather-book"></i>
                Bookings
            </a>
        </li>
        <li>
            <a class="" href="schedule-timings.html">
                <i class="feather-clock"></i>
                Schedule Timings
            </a>
        </li>
        <li>
            <a class="" href="invoices.html">
                <i class="feather-file-minus"></i>
                Invoices
            </a>
        </li>
        <li>
            <a class="" href="chat.html">
                <i class="feather-message-circle"></i>
                Chat
            </a>
        </li>
        <li>
            <a class="" href="profile-settings.html">
                <i class="feather-settings"></i>
                Profile Settings
            </a>
        </li>
        <li>
            <a class="" href="reviews.html">
                <i class="feather-star"></i>
                Reviews
            </a>
        </li>
        <li>
            <a class="" href="pages.html">
                <i class="feather-layout"></i>
                Pages
            </a>
        </li>
        <li>
            <a class="" href="admin/login.html">
                <i class="feather-user-plus"></i>
                Admin
            </a>
        </li>
    </ul>
    <a class="sidebar-logout" href="login.html"><span><i class="feather-log-out"></i></span>Logout</a>
</div>
<!-- /Sidebar -->

<!-- Header -->
<div class="gradient-header"></div>
<header>
    <div class="container">
        {{!-- <div class="left">
            <span class="hamburgar-icon"><img src="/images/icons/hamburgar-icon.svg" alt=""></span>
        </div> --}}
        <div class="page-header-title">
            <h4>{{ title }}</h4>
        </div>
    </div>
</header>
<!-- Header -->