{{> header}}

    <body class="body-bg-gray">
        <div class="main-wrapper">
            {{> nav}}

            <div class="container">
                <div class="top-profile-widget">
                    <div class="d-flex align-items-center">
                        <div class="profile-left mr-3">
                            <div class="avatar">
                                <img src="/images/blank-profile-picture-973460_640.png" alt="" srcset="">
                            </div>
                        </div>
                        <div class="profile-right">
                            <h2>{{ admin.first_name }} {{ admin.name }}</h2>
                            <span>{{ admin.role.label }}</span>
                        </div>
                    </div>
                    <div class="bottom-social d-flex align-items-center justify-content-between mt-2">
                        <div>
                            {{!-- <ul>
                                <li><a href="#"><img src="/images/icons/conversation-icon.svg" alt=""></a></li>
                                <li><a href="#"><img src="/images/icons/mail-icon.svg" alt=""></a></li>
                                <li><a href="#"><img src="/images/icons/phone-white-icon.svg" alt=""></a></li>
                            </ul> --}}
                        </div>
                        <div class="text-center">
                            <div>
                                <a href="/logout">Deconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile List -->
		<div class="mentee-list">
			<div class="container">
				<div>
					<div class="card">
						<div class="card-body">
							<div id="session_container" class="about-col">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Profile List -->
        </div>
        
{{> scripts}}