{{> header}}

    <body class="body-bg-gray">
        <div class="main-wrapper">
            {{> nav}}

            <div class="container">
                <div class="top-profile-widget">
                    <div class="d-flex align-items-center">
                        <div class="profile-left mr-3">
                            <div class="avatar">
                                <img src="/images/blank-profile-picture-973460_640.png" alt="" srcset="">
                            </div>
                        </div>
                        <div class="profile-right">
                            <h2>{{ admin.first_name }} {{ admin.name }}</h2>
                            <span>{{ admin.role.label }}</span>
                        </div>
                    </div>
                    <div class="bottom-social d-flex align-items-center justify-content-between mt-2">
                        <div>
                            {{!-- <ul>
                                <li><a href="#"><img src="/images/icons/conversation-icon.svg" alt=""></a></li>
                                <li><a href="#"><img src="/images/icons/mail-icon.svg" alt=""></a></li>
                                <li><a href="#"><img src="/images/icons/phone-white-icon.svg" alt=""></a></li>
                            </ul> --}}
                        </div>
                        <div class="text-center">
                            <div>
                                <a href="#">Deconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile List -->
		<div class="mentee-list">
			<div class="container">
				<div>
					<div class="card">
						<div class="card-body">
							<div class="about-col">
								<div class="mb-2">
									<h5>Sessions contrôle</h5>
								</div>
								<ul class="profile-details">
									<a href="/scan">
										<li>
											<div class="details-icon" style="background-color: #1E88E5;">
												<img src="/images/icons/icon4.svg" alt="">
											</div>
											<div class="profile-details-content">
												<h6>Du 05 au 15 mars 2020</h6>
												<span>Frais académique 1ère tranche</span>
											</div>
										</li>
									</a>

									<a href="/scan">
										<li>
											
											<div class="details-icon" style="background-color: #1E88E5;">
												<img src="/images/icons/icon4.svg" alt="">
											</div>
											<div class="profile-details-content">
												<h6>Du 05 au 15 mai 2020</h6>
												<span>Frais académique 2ème tranche</span>
											</div>
										</li>
									</a>

									<a href="/scan">
										<li>
											
											<div style="background-color: #1E88E5;" class="details-icon">
												<img src="/images/icons/icon4.svg" alt="">
											</div>
											<div class="profile-details-content">
												<h6>Du 05 au 15 juin 2020</h6>
												<span>Enrôlement session</span>
											</div>
										</li>
									</a>

									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Profile List -->
        </div>
        
{{> scripts}}