{{> header}}
    <body style="padding-top: 0px;">
        <div>
            <div>
                <video id="preview"></video>

            </div>
        </div>
        <div style="position: absolute;top: 46%;left: 39%;" id="scan_div"></div>
{{> scripts}}