{{> header}}
    <body style="padding-top: 0px;">
        <div>
            <div>
                <video id="preview"></video>
            </div>
        </div>
        <div class="scan_div"></div>
{{> scripts}}